div {
    color: #fff;
}

.horizontal-div {
    margin-left: 20px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.img-cover {
    width: 300px;
    height: 450px;
}

.basic-info {
    width: 500px;
}

.form-core {
    font-weight: bold;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.basic-input {
    font-weight: normal;
    background-color: #1f1f1f;
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
    width: 400px;
    height: 22px;
    
}

.basic-input:focus {
    border-bottom: 1px solid limegreen;
    outline: 0px;
}

.search-input {
    font-weight: normal;
    /*background-color: #fff;*/
    background: #fff url(../img/buttons/search.png) no-repeat scroll 8px 4px;
    border: 0px;
    color: #000;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 35px;
    margin-top: 0px;
}

.search-input:focus {
    border-bottom: 0px solid limegreen;
    outline: 0px;
}

.custom-select {
    font-weight: normal;
    background-color: #1f1f1f;
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
    width: 405px;
    height: 26px;
}

.custom-select:focus {
    border-bottom: 1px solid limegreen;
    outline: 0px;
}