.modal {
  display: none;
  position: fixed; /* Use fixed position to make it float above the content */
  z-index: 1;
  left: 0;
  top: -100px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-color: #0f1114;
  color: #fff;
  margin: 15% auto; /* Adjust as needed to center the modal */
  padding: 20px;
  border: 1px solid #fff;
  width: 1410px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

div {
    color: #fff;
}

.slider-checkbox { 
  background-color: #fff;
  color: #000;
 }

.horizontal-div {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.header-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px; /* Adjust the gap as needed */
}

.input-container {
    text-align: left; /* Adjust the text alignment as needed */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}



.input-container > div {
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.header-input .input-container select {
    height: 26px; /* Adjust the height as needed */
    vertical-align: middle;
}

.small-input,
.small-custom-select {
    width: calc((400px - 2 * 10px) / 3); /* Calculate the width and subtract the margins */
}

.img-cover {
    width: 300px;
    height: 450px;
    margin-top: 20px;
}

.img-cover-text {
  margin-top:  225px;
  margin-left: 150px;
  position: absolute;
}

.basic-info {
    width: 500px;
}

.form-core {
    font-weight: bold;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.basic-input {
    font-weight: normal;
    background-color: #0f1114;
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
    width: 400px;
    height: 22px;
    color-scheme: dark;
}

.basic-input:focus {
    border-bottom: 1px solid limegreen;
    outline: 0px;
}

.small-input {
    font-weight: normal;
    background-color: #0f1114;
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
    width: 125px;
    height: 22px;
}

.small-input:focus {
    border-bottom: 1px solid limegreen;
    outline: 0px;
}

.textarea-input {
    font-weight: normal;
    background-color: #0f1114;
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
    width: 400px;
    height: 55px;
    resize: none;
}

.textarea-input:focus {
    border-bottom: 1px solid limegreen;
    outline: 0px;
}

.search-input {
    font-weight: normal;
    /*background-color: #fff;*/
    background: #fff url(../img/buttons/search.png) no-repeat scroll 8px 4px;
    border: 0px;
    color: #000;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 35px;
    margin-top: 0px;
}

.search-input:focus {
    border-bottom: 0px solid limegreen;
    outline: 0px;
}

.custom-select {
    font-weight: normal;
    background-color: #0f1114;
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
    width: 405px;
    height: 26px;
}

.custom-select:focus {
    border-bottom: 1px solid limegreen;
    outline: 0px;
}

.small-custom-select {
    font-weight: normal;
    background-color: #0f1114;
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.small-custom-select:focus {
    border-bottom: 1px solid limegreen;
    outline: 0px;
}

.main-score-container {
    display: flex;
    margin-right: 20px;
    /*flex-direction: column;
    align-items: center;
    margin-top: 10px;*/
}

.left-slider-box {
    width: 300px;
    margin-top: 12px;
}

.right-slider-box {
  width: 300px;
  margin-top: 12px;
}

label {
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-top: 5px; /* Add some margin between the slider and checkbox */
}

.slider-value {
    font-size: 14px;
    margin-left: 5px;
    padding-left: 10px;
}

.slider-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.form-button {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 5px;
  text-decoration: none;
  border-radius: 5px;
  border: 0px;
  font-weight: bold;
}

.form-button:hover {
  background-color: limegreen;
}

/* CHECKMARK */
input[type='checkbox'] {
  accent-color: #fff;
}

/* RANGE SLIDER */

input[type=range] {
    width: 100%;
    margin: 4.55px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #ffffff;
    border: 1px solid #ffffff;
    width: 100%;
    height: 2.9px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -6.55px;
    width: 25px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 1px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    background: #ffffff;
    border: 1px solid #ffffff;
    width: 100%;
    height: 2.9px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 1px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5.55px 0;
    color: transparent;
    width: 100%;
    height: 2.9px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #dbdbdb;
    border: 1px solid #ffffff;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  input[type=range]::-ms-thumb {
    width: 25px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  