body {
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
  background-color:#1f1f1f;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  margin-top: 100px;
  text-align: left;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  padding: 10px 20px;
  z-index: 100; /* This helps ensure the header is above other page content */
  border-bottom: #fff solid 2px;
}

/* Style for the logo and text on the left */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px;
}

.logo h2 {
  color: #fff;
  font-size: 24px;
}

/* Style for the dummy buttons on the right */
.buttons {
  display: flex;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 5px;
}

/* Panel design */

.mainPanel {
  color: #fff;
  width: 442px; 
  height: 225px;
  background-color: #181818;
  margin-top: 15px;
  margin-left: 15px; 
  display: inline-block;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #000;
  background-position: 98% 96%;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
}
.mainPanel:hover {
  border: 1px solid #fff;
}

.spacer {
  width: 500px;
  height: 20px;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 20px; 
}

.panelContainer {
  display: flex;
  align-items: center;
}

.dataContainer { 
  display: flex;
  flex-direction: column;
  align-items: left;
}

.scoreContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.rightPanel {
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.coverImage {
  width: 150px;
  height: 225px;
  margin: 0px;
}

.panelHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Add this line */
  align-items: flex-start;
  width: 290px;
}

.title {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.statusIcon {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 10px;
  /* Remove the 'float: right;' property */
}

.scoreDisplay {
  color: #fff;
  font-weight: bold;
  background-color: #606060;
  height: 22px;
  width: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-left: 10px;
}

.medal {
  margin-left: 6px;
  height: 20px;
  width: 20px;
}

.iconReplay {
  margin-left: 6px;
  height: 20px;
  width: 20px;
}

.dateContainerParent {
  color: #fff;
  margin-left: 5px;
  margin-top: 10px;
}

.dateContainer {
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 15px;
  margin-top: 10px;
  gap: 10px;
}

.noteContainerParent {
  color: #fff;
  margin-left: 10px;
  margin-top: 15px;
}

.noteContainer {
  text-align: left;
  white-space: pre; /* or white-space: pre-line; */
  display: flex;
  justify-content: left;
  align-items: flex-end; /* Align items to the bottom of the container */
  margin-left: 15px;
  margin-top: 10px;
  gap: 10px;
}

/* Panel design end */


/* Browser related */
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}