body {
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
   background-color:#0a0a0a;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

footer {
  height: 25px;
  border-top: #fff solid 2px;
}

body {
  margin-top: 100px;
  text-align: left;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f1114;
  padding: 10px 20px;
  z-index: 100; /* This helps ensure the header is above other page content */
  border-bottom: #fff solid 2px;
}

.edit-mode {
  color: limegreen;
  margin-left: 20px;
}

#loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
}

#loader {
  position: relative;
  width: 125px;
  height: 125px;
  border: 8px solid #fff;
  border-top: 8px solid limegreen;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: limegreen;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Style for the logo and text on the left */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px;
}

.logo h2 {
  color: #fff;
  font-size: 24px;
}

/* Style for the dummy buttons on the right */
.buttons {
  display: flex;
}

.button {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 5px;
  border: 0px;
}

.button#addButton {
  width: 50px;
  height: 30px;
  background: #fff url('../img/buttons/add.png') no-repeat center;
  padding: 2px 8px;
}

.button#addButton:hover {
  background: limegreen url('../img/buttons/add.png') no-repeat center;
}

.button#addButton:disabled {
  background: grey url('../img/buttons/add.png') no-repeat center;
}

.button#numbersButton {
  width: 50px;
  height: 30px;
  background: #fff url('../img/buttons/chart.png') no-repeat center;
  padding: 2px 8px;
}

.button#numbersButton:hover {
  background: limegreen url('../img/buttons/chart.png') no-repeat center;
}

.button#settingsButton {
  width: 50px;
  height: 30px;
  background: #fff url('../img/buttons/settings.png') no-repeat center;
  padding: 2px 8px;
}

.button#settingsButton:hover {
  background: limegreen url('../img/buttons/settings.png') no-repeat center;
}

.button#logoutButton {
  width: 50px;
  height: 30px;
  background: #fff url('../img/buttons/logout.png') no-repeat center;
  padding: 2px 8px;
}

.button#logoutButton:hover {
  background: #ff0000 url('../img/buttons/logout.png') no-repeat center;
}

.submit-div {
  margin-left: 23px;
}

/* Panel design */

/* Add styling for the main container */
.panel-container {
  width: 442px; 
  height: 225px;
  margin-top: 15px;
  margin-left: 15px; 
  display: inline-block;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

/* Styling for the front and back panels */
.front-panel,
.back-panel {
  position: absolute;
  width: 442px; 
  height: 227px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-bottom-right-radius: 8px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: transform 0.8s;
  background-position: 98% 96%;
  background-repeat: no-repeat;
}

.front-panel:hover,
.back-panel:hover {
  border: 1px solid #fff;
}

/* Styling for the front panel */
.front-panel {
  background-color: #0f1114;
  color: #fff;
}

/* Styling for the back panel */
.back-panel {
  background-color: #0f1114;
  color: white;
  transform: rotateY(180deg);
}

/* Apply the flip effect on the flipped class */
.panel-container.flipped .front-panel {
  transform: rotateY(180deg);
}

.panel-container.flipped .back-panel {
  transform: rotateY(0deg);
}

.panel-content-left {
  width: 150px;
  height: 225px;
  margin: 0px;
}

.panel-content-right {
  width: 100%;
  height: 225px;
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.panel-content-inner-front {
  display: flex;
  align-items: center;
}

.panel-content-inner-back {
  display: flex;
  align-items: center;
}

.spacer {
  width: 500px;
  height: 20px;
  background-color: #0a0a0a;
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 20px; 
}

.panel-content-front .panel-content-back { 
  display: flex;
  flex-direction: column;
  align-items: left;
}

.panel-content-back-parent {
  display: flex;
  flex-direction: row;
  align-items: left;
  height: 80px;
  width: 245px;
}

.panel-content-back-title-scores {
  margin: 10px;
  color: grey;
}

.scores {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.single-score {
  display: flex;
  flex-direction: row;
  align-items: center; /* Updated to center vertically */
  padding: 2px;
}

.single-score-digit {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.single-score-text {
  font-weight: normal;
  font-size: 12px;
}

.stats {
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-left: 1px solid grey;
  margin-left: 40px;
  height: 115px;
  align-items: flex-start; /* Align items vertically */
}

.stats-row {
  display: flex;
  flex-direction: column;
  align-items: left; /* Align items horizontally */
  height: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.stats-title {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  width: 150px;
}

.stats-digit {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
}

.cover-image {
  width: 150px;
  height: 225px;
  margin: 0px;
}

.panel-header-front {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Add this line */
  align-items: flex-start;
  width: 290px;
}

.panel-header-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Add this line */
  align-items: flex-start;
  width: 442px;
}

.title {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.title-status-icon {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

.panel-back-edit {
  position: absolute;
  top: 0; /* Adjust as needed */
  right: 0; /* Adjust as needed */
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
  border: 0px;
  width: 50px;
  height: 30px;
  background: #fff url('../img/buttons/edit.png') no-repeat center;
  padding: 2px 8px;
}

.display-score {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 22px;
  width: 40px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.medal {
  margin-top: 2px;
  margin-left: 1px;
  height: 20px;
  width: 20px;
}

.iconReplay {
  margin-top: 2px;
  margin-left: 6px;
  height: 20px;
  width: 20px;
}

.dateContainerParent {
  color: #fff;
  margin-left: 1px;
  margin-top: 10px;
}

.dateContainer {
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 5px;
  margin-top: 10px;
  gap: 10px;
}

.noteContainerParent {
  color: #fff;
  margin-left: 5px;
  margin-top: 15px;
}

.noteContainer {
  text-align: left;
  white-space: pre; /* or white-space: pre-line; */
  display: flex;
  justify-content: left;
  align-items: flex-end; /* Align items to the bottom of the container */
  margin-left: 15px;
  margin-top: 10px;
  gap: 10px;
  font-weight: normal;
}

/* Panel design end */


/* Browser related */
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}