/* Custom styles for SweetAlert2 dialog */
.swal2-popup {
    background-color: #0f1114 !important; /* Dark background color */
    color: #fff !important; /* White text color */
    border: 2px solid #fff !important; /* White border */
}

.swal2-title {
    font-size: 20px !important; /* Adjust title font size */
}

.swal2-content {
    font-size: 16px !important; /* Adjust content font size */
}

.swal2-confirm {
    background-color: #a91313 !important; /* Red button background color */
    color: #fff !important; /* White button text color */
    border: 0px solid #ff4d4d !important; /* Red button border */
    box-shadow: none !important;
}

.swal2-confirm:hover {
    background-color: #ff4d4d !important; /* Darker red button background color on hover */
    border: 0px solid #fff !important; /* Darker red button border on hover */
}

.swal2-cancel {
    background-color: #fff !important; /* White button background color */
    color: #333 !important; /* Dark button text color */
    border: 0px solid #fff !important; /* White button border */
    box-shadow: none !important;
}

.swal2-cancel:hover {
    background-color: #ddd !important; /* Light gray button background color on hover */
    color: #333 !important; /* Dark button text color on hover */
}

.swal2-confirm:focus,
.swal2-cancel:focus {
    box-shadow: none !important;
}
